<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_1Dashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=localhost; Initial Catalog=Dashboard.FDB; User=SYSDBA; Password=masterkey;" providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
    <userSettings>
        <_1Dashboard.Properties.Settings>
            <setting name="IdDispositivo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CorLetreiro" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="FonteLetreiro" serializeAs="String">
                <value>Times New Roman, 60pt</value>
            </setting>
        </_1Dashboard.Properties.Settings>
    </userSettings>
</configuration>